@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins_font {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_font_color: #3a3a3a;
}

.primary_btn {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background: #e02c6d;
  padding: 10px 24px;
  border: none;
  border-radius: 40px;
}
/* navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
.nav_left {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary_font_color);
}

.nav_right,
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
}
.nav_right li {
  list-style: none;
}
.nav_right li a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary_font_color);
}
.nav_right img {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_icon2 img {
  width: 36px;
}

/* prebook section styling */

.prebook {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
}
.prebook_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.prebook_title {
  font-size: 3.25rem;
  font-weight: 700;
  color: var(--primary_font_color);
}
.prebook_des {
  font-size: 1rem;
  font-weight: 600;
  color: var(--primary_font_color);
  margin: 16px 0;
}
.prebook_img {
  flex: 1;
  display: flex;
  justify-content: center;
  background-image: url("images/Circle\ design.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/* shopping sites section styling */
.shopping_sites {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* collection section styling */
.collection {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 100px;
}
h1 {
  text-align: center;
  margin: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary_font_color);
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.card {
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}
.card_img img {
  width: 100%;
}
.card_info h2 {
  font-size: 28px;
  font-weight: 500;
  color: #18191f;
}
.card_info h3 {
  font-size: 24px;
  font-weight: 400;
  margin: 6px 0;
}
.card_rating,
.card_info p {
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}
.card_info p {
  color: #787885;
  margin-left: 0;
}
/* featured section styling */
.featured {
  display: flex;
  max-width: 1110px;
  margin: 100px auto;
  gap: 90px;
}
.featured_info {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.featured_img {
  flex: 40%;
}
.featured_img img {
  width: 100%;
}
.featured_title {
  font-size: 2.25rem;
  font-weight: 700;
  color: #0a0826;
}
.featured_des {
  font-size: 16px;
  width: 500px;
  margin: 16px 0;
  font-weight: 700;
  color: #6c6c6c;
}
#featured_btn {
  border-radius: 0;
}
.featured_img {
  display: flex;
  justify-content: center;
}
/* footer styling */
.footer {
  background: #0a0826;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  gap: 5px;
}
.footer h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
.footer p {
  font-size: 0.8rem;
  font-weight: 700;
  color: #d9dbe1;
}
.icons i {
  background: #444242;
  padding: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

/* styling for media queries */

@media screen and (max-width: 576px) {
  .navbar {
    margin-left: 20px;
    margin-right: 20px;
  }
  .nav_left {
    width: calc(80% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_left h4 {
    /* display: none; */
    font-size: 1rem;
    order: 2;
  }
  .nav_left img {
    width: 20px;
    order: 1;
    margin-right: 20px;
  }
  .nav_right {
    width: 20%;
  }
  .nav_right .nav_icon {
    display: none;
  }
  .nav_right .nav_icon2 {
    width: 100%;
  }
  .nav_right li {
    /* display: none; */
    /* background: red; */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_right li a {
    color: white;
    padding: 20px;
    font-size: 1.75rem;
  }
  .menu {
    position: fixed;
    background: rgb(39, 38, 38);
    width: 100%;
    height: 100%;
    gap: 100px;
    top: 0;
    left: -100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }
  .menu .icon_x {
    color: white;
    font-size: 40px;
    position: absolute;
    right: 40px;
    top: 10px;
  }
  .prebook {
    flex-direction: column-reverse;
  }
  .prebook_info {
    flex: 1;
    text-align: center;
    align-items: center;
  }
  .prebook_img {
    flex: 1;
  }
  .prebook_img img {
    width: 60%;
  }
  .prebook_title {
    font-size: 1.75rem;
  }
  .prebook_des {
    font-size: 0.9rem;
    padding: 0 18px;
  }
  .shopping_sites {
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
  }
  .shopping_sites img {
    width: 20%;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    margin: 15px;
  }
  .featured {
    flex-direction: column-reverse;
  }
  .featured_info {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .featured_title {
    font-size: 2rem;
  }
  .featured_des {
    width: 330px;
  }
  .featured_img img {
    width: 80%;
  }
}
@media screen and (min-width: 576px) {
  .nav_left img {
    display: none;
  }
  .menu .icon_x {
    display: none;
  }
}
